<h1>hola cabros</h1>
<% if @bikes.count == 0 %>
  <%= link_to "Ingresa una bicicleta", new_bike_path %>
<% else  %>
  <% @bikes.each do |b| %>
    <ul>
      <li><%= b.id %></li>
      <li><%= b.color %></li>
      <li><%= b.description %></li>
      <li><%= b.ring %></li>
      <li><%= b.photo %></li>
      <li><%= b.brand %></li>
      <li>
        <%= link_to 'Detalle de Robo', bike_path(b)  %>
      </li>
    </ul>
  <% end %>
<% end %>
