<h1>hola cabros</h1>
<% @bikes.each do |b| %>
  <ul>
    <li><%= b.color %></li>
    <li><%= b.description %></li>
    <li><%= b.ring %></li>
    <li><%= b.photo %></li>
    <li><%= b.brand %></li>
  </ul>

<% end %>
